.mx-stepper {
  display: flex;
  height: var(--mx-space-7);

  &-input {
    width: var(--mx-space-7);
    font-size: var(--mx-fontSizes-sm);
    height: 100%;
    margin: 0 2PX;
    text-align: center;
    appearance: none;
    background: var(--mx-colors-gray-100);
    color: var(--mx-colors-gray-800);

    // h5
    input {
      // 和父容器 taro-input-core 一样高
      height: 100%;
    }
  }

  &-plus,
  &-minus {
    position: relative;
    margin: 0;
    width: var(--mx-space-7);
    background-color: var(--mx-colors-gray-100);
    height: 100%;

    &[disabled] {
      color: var(--mx-colors-gray-300);
    }

    &::after {
      border: 0;
    }
  }

  &-plus::before,
  &-minus::before,
  &-plus::after {
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: currentColor;
    width: 50%;
    height: 1PX;
  }

  &-minus {
    border-radius: var(--mx-space-1) 0 0 var(--mx-space-1);
  }

  &-plus {
    border-radius: 0 var(--mx-space-1) var(--mx-space-1) 0;

    &::after {
      width: 1PX;
      height: 50%;
    }
  }
}
